body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:lightgoldenrodyellow;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(0,0,0,.5);
}

.container {
    max-width: 2000px;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 15px;
}

.galleryImage {
    max-width: 100%;
    border-radius: 10px;
    position: relative;
    transition: transform 250ms;
    cursor: pointer;
    align-content: center;
    justify-self: center;
}

.galleryImage:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px grey;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 250ms transform;
    padding: 50px;
    cursor: pointer;
}

#selectedImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}